.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider-image {
  max-height: 50px;
  border-bottom: 1px solid red;
}

.myNamvigationLinks {
  flex: 1;
  display: flex;
  justify-content: center;
}

.myLink {
  color: white;
  margin-right: 100px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.myLink:hover {
  color: white;
  border-bottom: 1px solid white;
}

.carousel-item {
  max-height: 250px !important;
}
.carousel-item img {
  object-fit: contain;
}
.form-label,
.col-form-label {
  color: black;
}

.btn-link {
  color: white;
}
.my-gradient {
  background: linear-gradient(45deg, #8d000b, #fbff00);
}
